@model AmethystScreen.Models.ReportedContent

@{
    ViewData["Title"] = "Review Report";
}

<div class="container mt-5">
    <div class="shadow-sm bg-dark text-light">
        <div class="text-light">
            <h1 class="m-0">@ViewData["Title"]</h1>
        </div>
        <div class="card-body">
            <div class="mb-4">
                <p><strong>Feedback ID:</strong> @Model.Id</p>
                <p><strong>Report Date:</strong> @Model.ReportDate</p>
                <p><strong>Title:</strong> @Model.Title</p>
                <p><strong>Description:</strong></p>
                <p>@Model.Description</p>
            </div>

            <div class="d-flex justify-content-between">
                <form asp-controller="Mod" asp-action="ReportAction" method="post">
                    <input type="hidden" name="id" value="@Model.Id" />
                    <input type="hidden" name="action" value="true" />
                    <button type="submit" class="btn btn-success">Approve</button>
                </form>

                <form asp-controller="Mod" asp-action="ReportAction" method="post">
                    <input type="hidden" name="id" value="@Model.Id" />
                    <input type="hidden" name="action" value="false" />
                    <button type="submit" class="btn btn-danger">Reject</button>
                </form>
            </div>
        </div>
    </div>
</div>
