@model AmethystScreen.Models.Feedback
@{
    ViewData["Title"] = "Feedback";
}

<div>
    <p>@Model.Id</p>
    <p>@Model.PostedByUserid</p>
    <p>@Model.DatePosted</p>
    <p>@Model.Title</p>
    <p>@Model.Description</p>
</div>