@model IEnumerable<Movie>

@{
    ViewData["Title"] = "Liked Movies";
}

<div class="container">
    <h1 class="mb-4">@ViewData["Title"]</h1>

    @if (Model.Any())
    {
        <ul class="list-group">
            @foreach (var movie in Model)
            {
                <li class="list-group-item d-flex justify-content-start align-items-center bg-bv">
                    <img src="@movie.Image" alt="@movie.Title" class="rounded me-3" style="width: 80px; height: 120px; object-fit: cover;">
                    <div>
                        <h5 class="mb-1"><a href="@Url.Action("Movie", "Library", new { slug = movie.Slug })" class="text-decoration-none bg-bv">@movie.Title</a></h5>
                        <small>@movie.Year</small>
                    </div>
                </li>
            }
        </ul>
    }
    else
    {
        <div class="alert alert-warning text-center" role="alert">
            You have no liked movies...
        </div>
    }
</div>
