@model AmethystScreen.Models.ReportedContent

@{
    ViewData["Title"] = "Report Form";
}

<h1>Report Form</h1>

@* <input type="type" name="name" value="" /> *@
<form asp-action="CreateReport" method="post">

    @if (Model.IsUser)
    {
        <h2>Report a User</h2>
        <input type="hidden" name="isUser" value="@Model.IsUser" />
        <input type="hidden" name="reportedUserId" value="true" />

        <input type="hidden" name="isComments" value="false" />
        <input type="hidden" name="reportedCommentId" value="-1" />

        <input type="hidden" name="isMovie" value="false" />
        <input type="hidden" name="reportedMovieSlug" value="@null" />
    }
    else if (Model.IsComments)
    {
        <h2>Report a Comment</h2>

        <p>Comment id: @Model.ReportedCommentId</p>

        <input type="hidden" name="isUser" value="false" />
        <input type="hidden" name="reportedUserId" value="@null" />

        <input type="hidden" name="isComments" value="true" />
        <input type="hidden" name="reportedCommentId" value="@Model.ReportedCommentId" />

        <input type="hidden" name="isMovie" value="false" />
        <input type="hidden" name="reportedMovieSlug" value="@null" />
    }
    else if (Model.IsMovie)
    {
        <h2>Report a Movie/Video</h2>

        <p>Movie Slug: @Model.ReportedMovieSlug</p>

        <input type="hidden" name="isUser" value="false" />
        <input type="hidden" name="reportedUserId" value="@null" />

        <input type="hidden" name="isComments" value="false" />
        <input type="hidden" name="reportedCommentId" value="@null" />

        <input type="hidden" name="isMovie" value="true" />
        <input type="hidden" name="reportedMovieSlug" value="@Model.ReportedMovieSlug" />
    }


    <div class="form-group">
        <label asp-for="Title">Title</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <button type="submit" class="btn bg-bv">Submit Report</button>
</form>
